<!DOCTYPE html>
<html>
  <head>
    <title>KyleChallange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to 'home', root_path %></li>
        <li><%= link_to 'about', about_url %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
